h1{
	color: red;
	font-weight: bold;
}
p{
	font-family: Impact, Charcoal, sans-serif;
}
ul{
	font-style: italic;
}
h3{
	font-weight: bold;
}
h2{
	font-weight: bold;
}
#txt-summary-short{
font-size: 20px;
}
#txt-summary-long{
	font-size: 10px;
}